// Colours
// =======================================
$default: #333333!default;

$dark-blue: #1e73be!default;
$light-blue: #41A4F5!default;
$grey: #434E5E!default;
$dark-grey: #222!default;
$off-white: #f5f9fa!default;