// Colours
// =======================================
$default: #333333!default;

$dark-blue: #005394!default;
$light-blue: #5183f5!default;
$grey: #434E5E!default;
$dark-grey: #222!default;
$green: #648200!default;
$off-white: #f5f9fa!default;
$pink: #DB5A6B!default;
$midnight-blue: midnightblue!default;
$darkred: darkred!default;