.home {
  display: flex;
  flex-flow: column;

  article {

    header {
      background-color: $off-white;
      margin-bottom: 2rem;
      padding: 6rem;
      text-align: center;
    }
  }

  .main-content {
    display: flex;
    flex-flow: row;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .family-crest {
    margin-right: 4rem;
    max-width: 29%;
  }

  .entry {
    max-width: 71%;
  }
}