// Documentation Reference - http://coderepo.demo.finalsite.com/the-build/sass/utility

/*! helpers - utility v0.0.1 */

// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
// Danger Zone
// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

// ================================
// Breakpoint
// ================================

// http://jakearchibald.github.io/sass-ie/

// Example Usage:
// .element {
//   @include breakpoint($bp-medium) {}
// }

@mixin breakpoint($flex-pivot) {
  @media (min-width: $flex-pivot) {
    @content;
  }
}

@mixin maxbp($flex-pivot) {

    @if $bp-in-ems {

      @media (max-width: ce(su($flex-pivot), 16) - em(1, 16)) {
        @content;
      }

    }
    @else {

      @media (max-width: $flex-pivot - 1px) {
        @content;
      }

    }

}

// ================================
// List Reset
// ================================

// Example usage:
// nav {
//   @include list-reset;
// }
// nav ul {
//   @include list-reset;
// }
// ul { @include list-rest}

@mixin list-reset {

  &, ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

    li {
       margin: 0;
       padding: 0;
    }

}