article {
  margin-bottom: 8rem;

  header {
    display: flex;
    flex-flow: row column;
    justify-content: flex-start;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .entry-header {
    display: flex;
    flex-flow: column;
    justify-content: center;
   
    h1 {
      font-size: 4rem;
      line-height: 1;
    }

    .intro {
      font-size: 1.6rem;
      color: rgba(0,0,0,0.6);
      padding-left: 1rem;
    }
  }

  .entry {
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 0.6rem;
    padding: 6rem;
  }
}