/**
 * @section Base Styles
 */

 html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  line-height: 2.8rem;
  height: 100%;
  display: flex;
  flex-flow: column;
}

main {
  background-color: $off-white;
  padding: 6rem 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 76rem;
}

.align-left {
  float: left;
  margin-right: 4rem;
  margin-bottom: 2rem;
}

.align-right {
  float: right;
  margin-left: 4rem;
  margin-bottom: 2rem;
}