.custom-list {
  counter-reset: item;
  list-style: none;
  padding-left: 2rem;

  ol {
    counter-reset: item;
    list-style: none;
    padding-left: 2rem;
  }

  li {

    .custom-list-item {
      position: relative;
  
      &::before {
        font-size: 1rem;
        content: counters(item, ".");
        counter-increment: item;
        position: absolute; 
        left: -2.5rem;
        top: 50%;
        margin-top: -1rem;
        background: #8c7ae6;
        color: white;
        width: 2rem;
        line-height: 2rem;
        text-align: center;
      }
    }
  }
}

// .parent {
//   font-family: $font-family-1;
//   font-size: 1.4rem;
//   letter-spacing: 0.25px;
//   line-height: 1.618;

//   > li {
//     padding: 1rem;
//     // margin-bottom: 1rem;

//     &:nth-child(even) {
//       background-color: $off-white;
//     }
//   }

//   .descendant {
//     border-left: 1px solid $light-blue;
//     padding: 1rem 1rem 1rem 2rem;
//   }

//   .female {
//     color: $pink;
//   }
// }

// .section-container {
//   border-top: 1px solid #dbdbdb;
//   padding-top: 4rem;
// }

// .custom-aside {
//   width: 100%;
//   max-width: 70rem;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 8rem;
//   padding: 1rem;

//   .section-title {
//     margin-top: 0;
//     margin-bottom: 3rem;
//   }
// }