ul, ol {
  margin-bottom: 2rem;
}

ol {
  counter-reset: item;
  padding-left: 2rem;

  ol {
    padding-left: 4rem;
  }

  li {
    display: block;
  
    &::before {
      font-size: 1rem;
      content: counters(item, ".") ".";
      counter-increment: item;
      margin-right: 1rem;
      padding: 0.2rem 0.4rem 0.2rem 0.4rem;
      background-color: $light-blue;
      color: white;
    }
  }
}