ul, ol {
  margin-bottom: 2rem;
}

ol {
  counter-reset: item;
  padding-left: 2rem;

  ol {
    padding-left: 4rem;
  }

  li {
    display: block;
  
    &::before {
      content: counters(item, ".") ". ";
      counter-increment: item;
    }
  }
}