.site-footer {
  font-size: 1.3rem;
  letter-spacing: 1px;
  background-color: $dark-grey;
  color: white;
  margin-top: auto;
  padding: 2rem 0;
  text-align: center;

  p {
    margin-bottom: 0;
  }

  a {
    color: white;
  }
}