.site-header {
  background-color: $dark-blue;
  color: white;

  .inner-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    max-width: 90rem;
    margin: auto;
    padding: 1rem 0; 
  }

  .site-logo {
    display: inline-block;
    font-family: $font-family-1;
    font-size: 2.1rem;
    margin-bottom: 0;
    color: white;
    transition: 0.5s;
    width: 4rem;
    height: 3rem;
    text-align: center;

    &:focus,
    &:hover {
      color: yellow;
      text-decoration: none;
    }
  }
}