.site-header {
  background-color: white;
  // color: white;
  min-height: 6rem;

  .inner-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 76rem;
    margin: auto;
  }

  .site-logo {
    display: inline-block;
    font-family: $font-family-1;
    font-size: 2.1rem;
    margin-bottom: 0;
    color: $dark-grey;
    transition: 0.5s;
    height: 3rem;
    text-align: center;

    &:focus,
    &:hover {
      color: yellow;
      text-decoration: none;
    }
  }
}